<!-- Correspondance pour le Québec -->
<h2 class="goal-page-heading">Correspondance pour le Québec</h2>
{% for tag in (1..4) %}
    {%- assign goal_qc_short_key = page.goal.number | append: '-' | append: tag | append: '-qc-short' -%}
    {%- assign goal_qc_short = page.t.global_goals[goal_qc_short_key] -%}

    {%- assign goal_qc_title_key = page.goal.number | append: '-' | append: tag | append: '-qc-title' -%}
    {%- assign goal_qc_title = page.t.global_goals[goal_qc_title_key] -%}

    <h4 class="qc-goal-page-heading">{{ goal_qc_short }}</h4>
    <span>{{ goal_qc_title }}</span>
{% endfor %}
