<!-- Temporary page layout for goal 2-->
<div id="main-content" class="container" role="main">

  



    <div class="container g-0">
      
      <!-- Correspondance pour le Québec -->
  <h1 class="goal-page-heading">Enjeux pour le Québec</h1>
  
  
  
      <h2 class="goal-page-heading">Agriculture et alimentation</h2>
      
      
  
      
      
        
        <div class="row align-items-start goal-target">
            <div class="col-auto goal-page-target-number">
              <h3 class="goal-target">
                <span class="target-number">2.1<span class="visually-hidden">Cible</span></span>
              </h3>
            </div>
            <div class="col goal-page-target-name">
              <span class="target-name">Contribuer au développement du secteur bioalimentaire</span>
            </div>
        </div>
          
  
            
            
            
            
            
            
            
            
  
            <div class="row align-items-start goal-indicator">
            
              <div class="col-auto goal-page-indicator-number">
                <h4>
                  <span class="indicator-number"><span class="visually-hidden">Indicateur</span> 2.1.1</span>
                </h4>
              </div>
              <div class="col goal-page-indicator-name">
                
                <span class="indicator-name"><a href="/site/2-a-1">À déterminer</a></span>
                
  
  
  
  
      <ul class="tags list-unstyled list-inline" aria-label="Étiquettes"><li class="list-inline-item">
          <span class="visually-hidden">État de l’indicateur</span>
          
  
  
  
  <span class="status notstarted">
      <span class="status-inner">Explorer les sources de données</span>
  </span>
  
  
          </li></ul>
  
  
              </div>
              
              
            </div>
          
  
            
            
            
            
            
            
            
            
  
            <div class="row align-items-start goal-indicator">
            
              <div class="col-auto goal-page-indicator-number">
                <h4>
                  <span class="indicator-number"><span class="visually-hidden">Indicateur</span> 2.1.2</span>
                </h4>
              </div>
              <div class="col goal-page-indicator-name">
                
                <span class="indicator-name"><a href="/site/2-a-1">À déterminer</a></span>
                
  
  
  
  
      <ul class="tags list-unstyled list-inline" aria-label="Étiquettes"><li class="list-inline-item">
          <span class="visually-hidden">État de l’indicateur</span>
          
  
  
  
  <span class="status notstarted">
      <span class="status-inner">Explorer les sources de données</span>
  </span>
  
  
          </li></ul>
  
  
              </div>
              
              
            </div>
          
          <hr class="goal-page-target-rule">
      
        
        <div class="row align-items-start goal-target">
            <div class="col-auto goal-page-target-number">
              <h3 class="goal-target">
                <span class="target-number">2.2<span class="visually-hidden">Cible</span></span>
              </h3>
            </div>
            <div class="col goal-page-target-name">
              <span class="target-name">Contribuer au développement de la zone agricole</span>
            </div>
        </div>
          
  
            
            
            
            
            
            
            
            
  
            <div class="row align-items-start goal-indicator">
            
              <div class="col-auto goal-page-indicator-number">
                <h4>
                  <span class="indicator-number"><span class="visually-hidden">Indicateur</span> 2.2.1</span>
                </h4>
              </div>
              <div class="col goal-page-indicator-name">
                
                <span class="indicator-name"><a href="/site/2-a-1">À déterminer</a></span>
                
  
  
  
  
      <ul class="tags list-unstyled list-inline" aria-label="Étiquettes"><li class="list-inline-item">
          <span class="visually-hidden">État de l’indicateur</span>
          
  
  
  
  <span class="status notstarted">
      <span class="status-inner">Explorer les sources de données</span>
  </span>
  
  
          </li></ul>
  
  
              </div>
              
              
            </div>
          
  
            
            
            
            
            
            
            
            
  
            <div class="row align-items-start goal-indicator">
            
              <div class="col-auto goal-page-indicator-number">
                <h4>
                  <span class="indicator-number"><span class="visually-hidden">Indicateur</span> 2.2.2</span>
                </h4>
              </div>
              <div class="col goal-page-indicator-name">
                
                <span class="indicator-name"><a href="/site/2-a-1">À déterminer</a></span>
                
  
  
  
  
      <ul class="tags list-unstyled list-inline" aria-label="Étiquettes"><li class="list-inline-item">
          <span class="visually-hidden">État de l’indicateur</span>
          
  
  
  
  <span class="status notstarted">
      <span class="status-inner">Explorer les sources de données</span>
  </span>
  
  
          </li></ul>
  
  
              </div>
              
              
            </div>
          
  
            
            
            
            
            
            
            
            
  
            <div class="row align-items-start goal-indicator">
            
              <div class="col-auto goal-page-indicator-number">
                <h4>
                  <span class="indicator-number"><span class="visually-hidden">Indicateur</span> 2.2.3</span>
                </h4>
              </div>
              <div class="col goal-page-indicator-name">
                
                <span class="indicator-name"><a href="/site/2-a-1">À déterminer</a></span>
                
  
  
  
  
      <ul class="tags list-unstyled list-inline" aria-label="Étiquettes"><li class="list-inline-item">
          <span class="visually-hidden">État de l’indicateur</span>
          
  
  
  
  <span class="status notstarted">
      <span class="status-inner">Explorer les sources de données</span>
  </span>
  
  
          </li></ul>
  
  
              </div>
              
              
            </div>
          
          <hr class="goal-page-target-rule">
      
        
        <div class="row align-items-start goal-target">
            <div class="col-auto goal-page-target-number">
              <h3 class="goal-target">
                <span class="target-number">2.3<span class="visually-hidden">Cible</span></span>
              </h3>
            </div>
            <div class="col goal-page-target-name">
              <span class="target-name">Contribuer à la pratique de l’agriculture communautaire et urbaine</span>
            </div>
        </div>
          
  
            
            
            
            
            
            
            
            
  
            <div class="row align-items-start goal-indicator">
            
              <div class="col-auto goal-page-indicator-number">
                <h4>
                  <span class="indicator-number"><span class="visually-hidden">Indicateur</span> 2.3.1</span>
                </h4>
              </div>
              <div class="col goal-page-indicator-name">
                
                <span class="indicator-name"><a href="/site/2-a-1">À déterminer</a></span>
                
  
  
  
  
      <ul class="tags list-unstyled list-inline" aria-label="Étiquettes"><li class="list-inline-item">
          <span class="visually-hidden">État de l’indicateur</span>
          
  
  
  
  <span class="status notstarted">
      <span class="status-inner">Explorer les sources de données</span>
  </span>
  
  
          </li></ul>
  
  
              </div>
              
              
            </div>
          
  
            
            
            
            
            
            
            
            
  
            <div class="row align-items-start goal-indicator">
            
              <div class="col-auto goal-page-indicator-number">
                <h4>
                  <span class="indicator-number"><span class="visually-hidden">Indicateur</span> 2.3.2</span>
                </h4>
              </div>
              <div class="col goal-page-indicator-name">
                
                <span class="indicator-name"><a href="/site/2-a-1">À déterminer</a></span>
                
  
  
  
  
      <ul class="tags list-unstyled list-inline" aria-label="Étiquettes"><li class="list-inline-item">
          <span class="visually-hidden">État de l’indicateur</span>
          
  
  
  
  <span class="status notstarted">
      <span class="status-inner">Explorer les sources de données</span>
  </span>
  
  
          </li></ul>
  
  
              </div>
              
              
            </div>
          
          <hr class="goal-page-target-rule">
      
        
        <div class="row align-items-start goal-target">
            <div class="col-auto goal-page-target-number">
              <h3 class="goal-target">
                <span class="target-number">2.4<span class="visually-hidden">Cible</span></span>
              </h3>
            </div>
            <div class="col goal-page-target-name">
              <span class="target-name">Contribuer à l'accès à des aliments locaux</span>
            </div>
        </div>
          
  
            
            
            
            
            
            
            
            
  
            <div class="row align-items-start goal-indicator">
            
              <div class="col-auto goal-page-indicator-number">
                <h4>
                  <span class="indicator-number"><span class="visually-hidden">Indicateur</span> 2.4.1</span>
                </h4>
              </div>
              <div class="col goal-page-indicator-name">
                
                <span class="indicator-name"><a href="/site/2-a-1">À déterminer</a></span>
                
  
  
  
  
      <ul class="tags list-unstyled list-inline" aria-label="Étiquettes"><li class="list-inline-item">
          <span class="visually-hidden">État de l’indicateur</span>
          
  
  
  
  <span class="status notstarted">
      <span class="status-inner">Explorer les sources de données</span>
  </span>
  
  
          </li></ul>
  
  
              </div>
              
              
            </div>
          
          <hr class="goal-page-target-rule">
      
    </div>
    <a href="#top"><svg class="app-c-back-to-top__icon" xmlns="http://www.w3.org/2000/svg" width="13" height="17" viewBox="0 0 13 17" aria-hidden="true" focusable="false"><path fill="currentColor" d="M6.5 0L0 6.5 1.4 8l4-4v12.7h2V4l4.3 4L13 6.4z"></path></svg>Retour en haut</a>
  </div>