<!-- Page layout modified to add Quebec's indicators -->
<!-- From https://github.com/open-sdg/open-sdg/blob/master/_layouts/goal.html on 2022/10/07 -->


{% include head.html %}
{% include header.html %}

<div class="container">
  {% include components/goal/breadcrumbs.html %}
  {% if site.create_goals.previous_next_links %}
    {% include components/previous-next-links.html previous_label=page.t.goal.previous next_label=page.t.goal.next %}
  {% endif %}
</div>

{% include components/goal/header.html %}


<div id="main-content" class="container" role="main">

  {% include components/goal/goal-content.html content=content %}

  <div class="container g-0">
    
    <h1 class="goal-page-heading">Enjeux pour le Québec</h1>

    {% include components/goal/goal-content-qc.html %}
    
  </div>
  {% include back-to-top.html %}
</div>


{% include footer.html %}